In [ ]:
# 실습 1
import sqlite3

conn = sqlite3.connect('ex1.db')
c = conn.cursor()

c.execute('''CREATE TABLE books (id integer, title text, price integer)
''')

c.execute('''insert into books VALUES (1, 'python 가이드', 5000)''')
c.execute('''insert into books VALUES (2, 'js 가이드', 4000)''')

conn.commit()
conn.close()

In [2]:
conn = sqlite3.connect('ex1.db')
c = conn.cursor()

# 데이터 조회
for row in c.execute('SELECT * FROM books ORDER BY id'):
    print(row)

# 연결 종료
conn.close()

(1, 'python 가이드', 5000)
(2, 'js 가이드', 4000)

In [4]:
# 실습 2
import sqlite3

conn = sqlite3.connect('ex2.db')
c = conn.cursor()

c.execute('''CREATE TABLE books (id integer, title text, price integer)
''')
for i in range(10):
    c.execute(f"insert into books VALUES ({i}, 'python 가이드', {i*1000})")

conn.commit()
conn.close()

In [5]:
conn = sqlite3.connect('ex2.db')
c = conn.cursor()

# 데이터 조회
for row in c.execute('SELECT * FROM books ORDER BY id'):
    print(row)

# 연결 종료
conn.close()

(0, 'python 가이드', 0)
(1, 'python 가이드', 1000)
(2, 'python 가이드', 2000)
(3, 'python 가이드', 3000)
(4, 'python 가이드', 4000)
(5, 'python 가이드', 5000)
(6, 'python 가이드', 6000)
(7, 'python 가이드', 7000)
(8, 'python 가이드', 8000)
(9, 'python 가이드', 9000)

In [7]:
# 실습 3
import sqlite3

data = {
    'id': [1, 2, 3],
    'title': ['1', '2', '3'],
    'content': ['11', '22', '33', '44', '55']
}

# 데이터베이스에 연결
conn = sqlite3.connect('ex3.db')

# 커서 생성
cursor = conn.cursor()

# post 테이블 생성
cursor.execute('CREATE TABLE post (id INTEGER, title TEXT, content TEXT)')

# 데이터 삽입
for i in range(len(data['id'])):
    cursor.execute('INSERT INTO post VALUES (?, ?, ?)', (data['id'][i], data['title'][i], data['content'][i]))

# 커밋(변경 사항 저장)
conn.commit()

# 연결 닫기
conn.close()

In [10]:
conn = sqlite3.connect('ex3.db')
c = conn.cursor()

# 데이터 조회
for row in c.execute('SELECT * FROM post'):
    print(row)

# 연결 종료
conn.close()

(1, '1', '11')
(2, '2', '22')
(3, '3', '33')

In [ ]:
# 여기까지 되었다면
# 데이터(크롤링 데이터, JSON 데이터, CSV 데이터)를 가지고
# 직접 쿼리를 사용해서 Django DB에 넣는 것이 가능합니다.
# db load를 사용해서 Django DB에 넣는 것이 가능합니다
# ORM을 사용해서 넣는 것도 가능합니다!

In [22]:
import requests
from bs4 import BeautifulSoup

url = 'https://paullab.co.kr/bookservice/'
response = requests.get(url)
response.encoding = 'utf-8'
html = response.text

soup = BeautifulSoup(html, 'html.parser')
bookdata = []

book_list = soup.select('.book_name')        # lecture 클래스 탐색
for lecture in book_list:
    bookdata.append(lecture.text)

bookdata

['메모혁신 Notion(노션) 활용 가이드',
 '이력서 작성 가이드',
 '제주코딩베이스캠프 Code Festival: Python 100제 1부',
 '튜토리얼로 배우는 HTML&CSS',
 '코딩도장 튜토리얼로 배우는 Python 1편 object',
 '코딩도장 튜토리얼로 배우는 python 2편 제어문',
 '코딩도장 튜토리얼로 배우는 Python 문제풀이',
 '타노스의 건틀릿 알고리즘 With Python',
 'xlsxwriter 튜토리얼로 배우는 Python 엑셀 프로그래밍',
 '러플 튜토리얼로 배우는 Python',
 '인공지능을 활용한 업무자동화 With Google Developers Group JEJU']

In [1]:
import requests
from bs4 import BeautifulSoup

paullab_url = 'https://paullab.co.kr/bookservice/'
response = requests.get(paullab_url)
response.encoding = 'utf-8'
html = response.text

soup = BeautifulSoup(html, 'html.parser')

price_list = soup.select('.book_info')

for lecture in price_list:
    print(lecture.text)

가격: 7,000원
저자: 이호준, 이준호, 김혜원, 김유진, 차경림, 김진, 현지연, 정승한
Notion의 기본 사용 방법부터 Notion을 활용한 홈페이지 제작 방법까지 다양하게 다루고 있으며 특히 개발자가 원하는 Notion의 활용 방법을 다루고 있습니다.
가격: 10,000원
저자: 강혜진, 김유진, 김혜원, 김진, 이범재, 이호준, 원유선, 박누리, 차경림, 최원범, 한재현
개발자 역량을 갖추는 것뿐만 아니라 회사에 뽑힐 확률을 높이는 전략과 방법도 필요합니다. 개발자 이력서는 그 첫걸음입니다.
가격: 무료
저자: 이호준, 강민정, 김유진, 정윤하, 최원범
파이썬으로 풀 수 있는 100문제를 만들었습니다. 50문제씩 1부(초급, 중급)와 2부(중급, 고급)로 나누어져있습니다.
가격: 4,900원
저자: 이호준, 박민균, 양지혜, 정민준, 박소영, 전유빈
튜토리얼을 통해 일단 만들어 봅시다! 무엇이든 일단 만들어 보면 길이 보이기 시작합니다. 그 다음 웹 동작방법, 태그의 동작 방식, 브라우저 렌더링 엔진 등에 대하여 부담이 되지 않을 만큼씩 배워가세요.
가격: 3,000원
저자: 이호준, 정민준, 배희성, 김덕주, 한승협
파이썬은 이해하기 쉽고 간결한 문법으로 생산성이 높아 교육을 포함한 다양한 분야 에서 활용되고 있는 언어입니다. 빅데이터 분석, 머신러닝, 웹 개발 등 다양하게 쓰이는 Python을 예제를 통해 배워보세요. 이 책은 여러 미션을 스토리텔링 형식으로 제공하며 튜토리얼 별로 코드를 제공하여 쉽고 재미있게 코딩 개념을 익힐 수 있도록 도와줄 것입니다.

가격: 4,900원
저자: 이호준, 우지훈, 박소영, 허재영
파이썬 튜토리얼 시리즈는 1편 Object 2편 제어문 3편 문제풀이로 구성되어 있습니다.
가격: 무료
저자: 이호준, 전유빈, 김태범, 한승협, 김혜원, 강민정

                          이 책은 Python 문법을 이제 막 끝낸 분에게 추천해 드립니다.
                          코딩도장 사이트에 문제를 풀어보며 Python에 보다 깊게 다가가 보세요.
                          다양한 문제들이 여러분의 실력을 향상시켜 줄 것입니다.
가격: 무료
저자: 이호준, 한승협, 강민정, 신민욱
이 책은 Python 문법을 이제 막 끝낸 분에게 추천해 드립니다.
                          타노스의 핑거스냅 문제를 다양한 시각으로 풀어보며 Python에 보다 깊게 다가가 보세요.
                          다양한 시각이 여러분의 실력을 향상시켜줄 것입니다.
가격: 무료
저자: 이호준, 강상권, 오재원, 전진환, 문형철, 이현창
이 책은 빅데이터를 가공하여 엑셀로 가시화 시키기 원하는 업무 담당자와 단순 업무를 Python을 이용하여 자동화 시키려 하는 업무 담당자에게 추천해드립니다.
                          또한 부서의 업무 고도화, 효율화를 위해 적절한 자동화 프로그램을 찾지 못한 기업과 학문적 호기심을 가진 개인에게도 추천해 드립니다.
                          세계에서 유행중인 Python은 타 언어에 비해 다루기 쉬우며 풍성한 라이브러리로 원하는 프로그램을 직접 만들기에 적합합니다.
가격: 4,900
저자: 이호준, 배희성, 양지혜, 박소영, 김수연, 정민준
이 책은 소프트웨어 교육을 처음 접했거나 스크래치,
                              엔트리 등 블록기반 교육용 소프트웨어 다음으로 무엇을 배워야 할 지 모르는 초등학교 학생,
                              중학교 학생과 소프트웨어 교육을 담당하는 선생님께 권해드립니다.
                               파이썬 코드로 로봇을 제어하면서 코딩을 쉽게 배울 수 있는 러플은 고급 프로그래밍 언어를 처음 접하는
                                학생들이 쉽게 언어기반 프로그래밍을 이해할 수 있도록 도와줍니다.
가격: 무료
저자: 이호준, 이준호, 현암, 윤현담, 김루비, 이동민, 유승엽, 박서윤, 김채린, 한승협, 안상우, 장성원, 전진환, 강민성, 조민구, 전창삼
이 책은 반복적이고 지루한 단순 업무를 Python을 이용하여
                          자동화 시키려 하는 업무 담당자와 데이터를 가공하여 가시화 시키기 원하는 업무 담당자에게 추천해드립니다.
                           또한 부서의 업무 고도화, 효율화를 위해 적절한 자동화 프로그램을 찾지 못한 기업과 학문적 호기심을 가진 개인에게도 추천해 드립니다.
                          세계에서 유행중인 Python은 타 언어에 비해 다루기 쉬우며 풍성한 라이브러리로 원하는 프로그램을 직접 만들기에 적합합니다.

In [55]:
print(price_list[4])

<p class="book_info" style="margin-bottom: 0;">저자: 강혜진, 김유진, 김혜원, 김진, 이범재, 이호준, 원유선, 박누리, 차경림, 최원범, 한재현</p>

In [4]:
data = []
for i in range(len(price_list)):
    if (i+1) %  3 != 0:
        data.append(price_list[i].text)

data

['가격: 7,000원',
 '저자: 이호준, 이준호, 김혜원, 김유진, 차경림, 김진, 현지연, 정승한',
 '가격: 10,000원',
 '저자: 강혜진, 김유진, 김혜원, 김진, 이범재, 이호준, 원유선, 박누리, 차경림, 최원범, 한재현',
 '가격: 무료',
 '저자: 이호준, 강민정, 김유진, 정윤하, 최원범',
 '가격: 4,900원',
 '저자: 이호준, 박민균, 양지혜, 정민준, 박소영, 전유빈',
 '가격: 3,000원',
 '저자: 이호준, 정민준, 배희성, 김덕주, 한승협',
 '가격: 4,900원',
 '저자: 이호준, 우지훈, 박소영, 허재영',
 '가격: 무료',
 '저자: 이호준, 전유빈, 김태범, 한승협, 김혜원, 강민정',
 '가격: 무료',
 '저자: 이호준, 한승협, 강민정, 신민욱',
 '가격: 무료',
 '저자: 이호준, 강상권, 오재원, 전진환, 문형철, 이현창',
 '가격: 4,900',
 '저자: 이호준, 배희성, 양지혜, 박소영, 김수연, 정민준',
 '가격: 무료',
 '저자: 이호준, 이준호, 현암, 윤현담, 김루비, 이동민, 유승엽, 박서윤, 김채린, 한승협, 안상우, 장성원, 전진환, 강민성, 조민구, 전창삼']

In [9]:
pricedata = []
for i in range(len(data)):
    if (i+1) % 2 != 0:
        pricedata.append(data[i][4:])

pricedata

['7,000원',
 '10,000원',
 '무료',
 '4,900원',
 '3,000원',
 '4,900원',
 '무료',
 '무료',
 '무료',
 '4,900',
 '무료']

In [6]:
authordata = []
for i in range(len(data)):
    if (i+1) % 2 == 0:
        authordata.append(data[i])

authordata

['저자: 이호준, 이준호, 김혜원, 김유진, 차경림, 김진, 현지연, 정승한',
 '저자: 강혜진, 김유진, 김혜원, 김진, 이범재, 이호준, 원유선, 박누리, 차경림, 최원범, 한재현',
 '저자: 이호준, 강민정, 김유진, 정윤하, 최원범',
 '저자: 이호준, 박민균, 양지혜, 정민준, 박소영, 전유빈',
 '저자: 이호준, 정민준, 배희성, 김덕주, 한승협',
 '저자: 이호준, 우지훈, 박소영, 허재영',
 '저자: 이호준, 전유빈, 김태범, 한승협, 김혜원, 강민정',
 '저자: 이호준, 한승협, 강민정, 신민욱',
 '저자: 이호준, 강상권, 오재원, 전진환, 문형철, 이현창',
 '저자: 이호준, 배희성, 양지혜, 박소영, 김수연, 정민준',
 '저자: 이호준, 이준호, 현암, 윤현담, 김루비, 이동민, 유승엽, 박서윤, 김채린, 한승협, 안상우, 장성원, 전진환, 강민성, 조민구, 전창삼']

In [73]:
bookdata[1]

['이력서 작성 가이드']

In [10]:
import sqlite3

# 데이터베이스에 연결
conn = sqlite3.connect('db.sqlite3')

# 커서 생성
cursor = conn.cursor()

# 데이터 삽입
for i in range(len(bookdata)):
    cursor.execute(f'INSERT INTO blog_book VALUES ({i+1}, "{bookdata[i]}", "{pricedata[i]}", "{authordata[i]}")')

# 커밋(변경 사항 저장)
conn.commit()

# 연결 닫기
conn.close()

In [11]:
conn = sqlite3.connect('db.sqlite3')
c = conn.cursor()

# 데이터 조회
for row in c.execute('SELECT * FROM blog_book'):
    print(row)

# 연결 종료
conn.close()

(1, "['메모혁신 Notion(노션) 활용 가이드']", '7,000원', '저자: 이호준, 이준호, 김혜원, 김유진, 차경림, 김진, 현지연, 정승한')
(2, "['이력서 작성 가이드']", '10,000원', '저자: 강혜진, 김유진, 김혜원, 김진, 이범재, 이호준, 원유선, 박누리, 차경림, 최원범, 한재현')
(3, "['제주코딩베이스캠프 Code Festival: Python 100제 1부']", '무료', '저자: 이호준, 강민정, 김유진, 정윤하, 최원범')
(4, "['튜토리얼로 배우는 HTML&CSS']", '4,900원', '저자: 이호준, 박민균, 양지혜, 정민준, 박소영, 전유빈')
(5, "['코딩도장 튜토리얼로 배우는 Python 1편 object']", '3,000원', '저자: 이호준, 정민준, 배희성, 김덕주, 한승협')
(6, "['코딩도장 튜토리얼로 배우는 python 2편 제어문']", '4,900원', '저자: 이호준, 우지훈, 박소영, 허재영')
(7, "['코딩도장 튜토리얼로 배우는 Python 문제풀이']", '무료', '저자: 이호준, 전유빈, 김태범, 한승협, 김혜원, 강민정')
(8, "['타노스의 건틀릿 알고리즘 With Python']", '무료', '저자: 이호준, 한승협, 강민정, 신민욱')
(9, "['xlsxwriter 튜토리얼로 배우는 Python 엑셀 프로그래밍']", '무료', '저자: 이호준, 강상권, 오재원, 전진환, 문형철, 이현창')
(10, "['러플 튜토리얼로 배우는 Python']", '4,900', '저자: 이호준, 배희성, 양지혜, 박소영, 김수연, 정민준')
(11, "['인공지능을 활용한 업무자동화 With Google Developers Group JEJU']", '무료', '저자: 이호준, 이준호, 현암, 윤현담, 김루비, 이동민, 유승엽, 박서윤, 김채린, 한승협, 안상우, 장성원, 전진환, 강민성, 조민구, 전창삼')

In [ ]:
# 요구사항1. book 크롤링한 데이터를 데이터베이스에 담아야 합니다.

import requests
from bs4 import BeautifulSoup

paullab_url = 'https://paullab.co.kr/bookservice/'
response = requests.get(paullab_url)
response.encoding = 'utf-8'
html = response.text

soup = BeautifulSoup(html, 'html.parser')

data_list = soup.select('.book_name ')        # lecture 클래스 탐색
price_list = soup.select('.book_info')
bookdata = []
data = []
pricedata = []
authordata = []

for lecture in book_list:
    bookdata.append(lecture.text)

for i in range(len(price_list)):
    if (i+1) %  3 != 0:
        data.append(price_list[i].text)

for i in range(len(data)):
    if (i+1) % 2 != 0:
        pricedata.append(data[i][4:])
    else:
        authordata.append(data[i][4:])

# 데이터베이스 생성 및 저장
import sqlite3


conn = sqlite3.connect('test.sqlite3')

cursor = conn.cursor()

cursor.execute(
    'CREATE TABLE blog_book (id INTEGER, title TEXT, price TEXT, author TEXT)')

for i in range(len(bookdata)):
    cursor.execute(f'INSERT INTO blog_book VALUES ({i+1}, "{bookdata[i]}", "{pricedata[i]}", "{authordata[i]}")')

conn.commit()

conn.close()

conn = sqlite3.connect('test.sqlite3')
c = conn.cursor()

# 데이터 조회
for row in c.execute('SELECT * FROM blog_book'):
    print(row)

# 연결 종료
conn.close()
# 요구사항2. 데이터베이스를 읽습니다.
# 요구사항3. 데이터베이스를 JSON 형태로 출력해야 합니다. 출력 이름은 output.json
import json
import sqlite3

conn = sqlite3.connect('test.sqlite3')
test = conn.cursor()

jsondata = []
for i in range(len(bookdata)):
    j = {
        "id": (i+1),
        "title": bookdata[i],
        "price": pricedata[i],
        "author": authordata[i]
    }
    jsondata.append(j)

conn.close()

with open('ouput.json', 'w') as f:
    json.dump(jsondata, f, indent=4, ensure_ascii=False)

In [27]:
import json
import sqlite3

conn = sqlite3.connect('db.sqlite3')
test = conn.cursor()

jsondata = []
for i in range(len(bookdata)):
    j = {
        "id": (i+1),
        "title": bookdata[i],
        "price": pricedata[i],
        "author": authordata[i]
    }
    jsondata.append(j)

conn.close()

with open('ouput.json', 'w') as f:
    json.dump(jsondata, f, indent=4, ensure_ascii=False)

In [28]:
import sqlite3


conn = sqlite3.connect('test.sqlite3')

cursor = conn.cursor()

cursor.execute(
    'CREATE TABLE blog_book (id INTEGER, title TEXT, price TEXT, author TEXT)')

for i in range(len(bookdata)):
    cursor.execute(f'INSERT INTO blog_book VALUES ({i+1}, "{bookdata[i]}", "{pricedata[i]}", "{authordata[i]}")')

conn.commit()

conn.close()

conn = sqlite3.connect('test.sqlite3')
c = conn.cursor()

In [29]:
import json
import sqlite3
import requests
from bs4 import BeautifulSoup

# 크롤링
url = 'https://paullab.co.kr/bookservice/'
response = requests.get(url)
response.encoding = 'utf-8'
html = response.text

soup = BeautifulSoup(html, 'html.parser')

title = []
price = []
author = []
total = [title, price, author]
# 1: 제목, 2: 가격, 3: 저자
for i in range(1, 4):
    book_list = soup.select(f'.book_detail :nth-child({i})')
    for book in book_list:
        text = book.text
        if ':' in text:
            text = text.split(': ')[1]
        total[i-1].append(text)
data = list(zip(total[0], total[1], total[2]))

In [31]:
type(data)

list

In [ ]:
# 남영훈님 코드
# import requests
# from bs4 import BeautifulSoup
# import sqlite3
# import json

# # 요구사항 1. book 크롤링한 데이터를 데이터베이스에 담기
# url = 'https://paullab.co.kr/bookservice/'
# response = requests.get(url)
# response.encoding = 'utf-8'
# html = response.text

# soup = BeautifulSoup(html, 'html.parser')
# book_details = soup.select('.book_detail')

# books_data = []
# for item in book_details:
#     book_name = item.select('.book_name')[0].text.strip()
#     book_price = item.select('.book_info')[0].text[3:].strip()
#     book_author = item.select('.book_info')[1].text[3:].strip()
#     books_data.append((book_name, book_price, book_author))

# db = sqlite3.connect('practice.db')
# conn = db.cursor()

# ## 데이터베이스를 생성
# conn.execute("CREATE TABLE book_crawler (id INTEGER, title TEXT, price TEXT, author TEXT)")

# ## 데이터 삽입
# for idx, item in enumerate(books_data, 1):
#     conn.execute(f"INSERT INTO book_crawler VALUES ({idx}, '{item[0]}', '{item[1]}', '{item[2]}')")

In [ ]:
# 찬양님 코드
# import requests
# from bs4 import BeautifulSoup
# import sqlite3
# import json

# conn = sqlite3.connect('books2.db')
# c = conn.cursor()

# c.execute('CREATE TABLE books (id integer, title text, price integer, author text)')

# paullab_url = 'http://paullab.co.kr/bookservice/'
# response = requests.get(paullab_url)
# response.encoding = 'utf-8'
# html = response.text

# soup = BeautifulSoup(html, 'html.parser')
# data = []

# book_name_list = soup.select('.book_detail > .book_name')
# book_price_list = soup.select('.book_detail > .book_info')[::3]
# book_author_list = soup.select('.book_detail > .book_info')[1::3]

# for i in range(len(book_name_list)):
#     name = book_name_list[i].text
#     price = book_price_list[i].text[4:].replace('원', '').replace(',', '').replace('무료', '0')
#     author = book_author_list[i].text[4:]
#     c.execute('INSERT INTO books VALUES (?, ?, ?, ?)', (i, name, price, author))

# conn.commit()

# books = []

# for row in c.execute('SELECT * FROM books'):
#     books.append({
#         'id': row[0],
#         'title': row[1],
#         'price': row[2],
#         'author': row[3],
#     })

# with open('.\output.json', 'w', encoding='utf-8') as file:
#     json.dump(books, file, indent="\t", ensure_ascii=False)

# conn.close()